header > div:first-child {
    float: left;
   


}
header{
    margin: 3%;
    margin-left: 23%;
    margin-right: 17%;
    width:60%;
 
    height: 100px;
}
h1{
margin-right: -3%;
margin-top: -7%;
margin-bottom: 0%;
float: right;
font-family:'Brush Script MT', cursive;
font-size: 250%;


}
header > div:first-child > p  {
    /* float: right; */
margin-top: 0%;
/* position: absolute ; */
margin-left: 43%;
font-size: 10px;
position: absolute;
  top: 80px;
  left: -16%;
  color: rgb(151, 151, 151);
  font-family: Arial, Helvetica, sans-serif;
}

header > div:nth-child(2){
    float: right;

}

header > div:last-child{
/* background-color: silver; */
height: 2%;
width: 60%;

position: absolute;
  top: 130px;
  right: 18%;
  border-top: 2px groove rgb(201, 201, 201);


}

main *{
    margin-left: 9%;
    margin-right: 9%;
}
h2{
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}
#para1{
font-size: 13px;
color:  rgb(151, 151, 151);
margin-top: 0px;
margin-left: 10%;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.printright{
   float: right;
 /* width: 60px; */
 margin: 20px;
 position: absolute;
   top: 230px;
   right: 255px;
}
.printright > p{
    float: right;
   margin:0px;
   margin-bottom: 0px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 12px;
   color: rgb(151, 151, 151); ;
} 
.printright > img{
    float: left;
    margin:0px;
    margin-top:3px;
}
  


#allform{
    background-image:url("https://github.com/LTUC/amman-201d33/blob/main/class-10/lab-a/lab-assets/list-bg.png?raw=true") 
;
    width: 75%;
    height: 300px;
    margin-left: 15%;
    color: rgb(58, 56, 56); 
    font-family: cursive;
}
#formstyle{
    float: left;
    margin: 0px;
    width: 35%;
}

#formestyle22{
    float: right;
    margin: 0px;
    width: 35%;
}

.left{
margin: 6px;
}
.right{
    margin: 6px;
}

#lastimg{
    margin: 10%;
}
#lastimg >img{
float: left;
margin-right:15px ;
}
#lastimg >button{
    background-color: indianred;
    float: right;
    height: 60px;
    width: 200px;
    color: ivory;
  font-weight: bold;
    position: absolute;
    right: 100px;
    top: 1525px;
}

footer{
    text-align: center;
    color:rgb(173, 173, 173) ;
}
#imgin{
    position: absolute;
    bottom: 20px;
}